body {
  margin: 0;
  padding: 0;
}
.navbar_cont {
  background-color: green;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar_logo {
  height: 35px;
  width: 35px;
}

.nav_link {
  text-decoration: none;
  color: white;
}

.banner_image {
  height: 70vh;
}

.movie_name {
  height: 50px;
}

.cinema-main {
  height: 150px;
  width: 100%;
  border: 1.5px solid green;
  padding-top: 10px;
  margin-bottom: 10px;
}

.inside-card {
  display: flex;
  justify-content: space-between;
}

.upper_screen {
  display: flex;
}

.screen_style {
  border-top: 8px solid aquamarine;
  border-radius: 75px;
}

.table_style {
  width: 900px;
}

.seats_con {
  display: flex;
  justify-content: space-around;
}

.seat {
  background-color: red;
  height: 15px;
  width: 15px;
  margin: 3px;
}

.seat_row {
  display: flex;
}

.row_division {
  display: flex;
  justify-content: space-between;
}

.table_div {
  display: flex;
  justify-content: space-around;
}

.seat_style {
  height: 25px;
  width: 25px;
}

.modal_style {
  box-shadow: 25px 25px white;
}

.button_modal {
  display: flex;
  justify-content: space-around;
}

.final_logo {
  height: 150px;
  width: 150px;
}
